.title-accordion {
  font-size: 1rem;
  border: none;
  color: orangered;
  background: transparent;
  text-align: left;
}
.title-accordion strong {
  background-color: orangered;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 50%;
}

.title-accordion::before {
  content: "-";
  position: relative;
  top: 0;
  left: 95%;
  width: 10px;
  height: 10px;
  color: #74747469;
}
button:focus {
  outline: none;
}
.title-accordion.collapsed::before {
  content: "+";
}

.card {
  border: none;
  font-family: "RobotoRegular";
}

.card-header {
  background-color: white;
  padding: 5px;
}

.card-header .plus:hover {
  text-decoration: none;
  font-weight: 600;
}

.card-header .plus:hover {
  color: #0a6d6d;
}

.card-body {
  background-color: #f2f2f2a6;
  box-shadow: 1px 1px 9px #74747469;
  margin: 0 40px 10px 40px;
}
@media (max-width: 991px) {
  #accordion {
    width: 95%;
    margin: 0 auto;
  }
}