:root {
  --color-orange: #f44c1b;
  --style-box-shadow-navbar: 0 1px 10px #474747;
  --main-color-blue: #0b6384;
  --main-bg-color: #f4f2f2;
  --main-color-for-text: #747474;
  --underline-color: #f4961b;
  --bg-footer: #24211d;
}